*, *::before, *::after {
	box-sizing: inherit;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-box-component {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
body {
	background-size: cover;
	font-weight: 700;
	font-family: 'PT Sans Narrow', sans-serif;
	color: #fff;
	text-transform: uppercase;
	background: #000 url(../img/body-bg.jpg) no-repeat center top;
}

/*//////////// 		 Header nav -->			   /////////////*/
.main-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
	/*display: none;*/
	color: #fff;
	background-color: #000;
}
.main-header-layout {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.main-navigation {
	max-width: 780px;
}
.main-navigation a {
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;
}
.main-navigation a:hover {
	background-color: #242424;
}
.main-navigation ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
	line-height: 20px;
	font-size: 16px;
}
.user-block {
	max-width: 140px;
}
.login {
	position: relative;
	display: block;
	padding: 25px 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}
.login:hover {
	background-color: #242424;
}
.login::before {
	content: "";
	position: absolute;
	top: 26px;
	left: 25px;
	width: 18px;
	height: 18px;
	background: url("../img/login.png") no-repeat;
	opacity: 0.3;
}
.login:hover::before {
	opacity: 1;
}

/*////////          .main -->      ///////////*/
/*/////////           .logo -->                    ///////////*/
.main-container {
	margin-top: 160px;
}
.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.index-logo img {
	width: 368px;
	height: 204px;
}
/*     /////     .features     /////     */
.features {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.features-item {
	width: 300px;
	/*padding: 0 5px;
	margin: 0 5px;
	vertical-align: top;*/
	text-align: center;
}
.features-name {
	position: relative;
	display: block;
	padding-bottom: 30px;
	margin-bottom: 35px;
	font-size: 30px;
	line-height: 42px;
}
/*.features-name::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	transform: rotate(-45deg);
	background-color: #fff;
}*/
.features-item p {
	font-size: 14px;
	line-height: 24px;
	margin: 0;
/*	padding: 67px 5px 10px ;
*/}
/*//////////          <--features   and    /////////*/

.index-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	background: #f8f5f2 url(../img/bg-phone.jpg) center no-repeat;
	height: 420px;
	padding: 50px 80px;
	margin-bottom: 35px;
	color: #000;
}
.index-content-left {
	width: 380px;
}
.index-content-right {
	width: 300px;
}
.index-content-title {
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
	}
/*//////////            FOOTER --->             //////////////////         */
.main-footer {
	background: #fff url(../img/footer-bg.png) 0 0 no-repeat;
	height: 190px;
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}
.main-footer-layout {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.footer-contacts {
	width: 320px;
	margin-right: 60px;
}
.footer-social {
	width: 260px;
}
.footer-copiright {
	width: 160px;
	text-align: right;
	margin-left: auto;
}