*, *::before, *::after {
	box-sizing: inherit;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.content-box-component {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	max-width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
body {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background: #000 url(../img/body-bg.jpg) no-repeat center top;
	background-size: cover;
}

/*//////////// 		 Header nav -->			   /////////////*/
.main-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99;
	/*display: none;*/
	color: #fff;
	background-color: #000;
}
.main-header-layout {
	display: flex;
	justify-content: space-between;
}
.main-navigation {
	max-width: 780px;
}
.main-navigation a {
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;
}
.main-navigation a:hover {
	background-color: #242424;
}
.main-navigation ul {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
	line-height: 20px;
	font-size: 16px;
}
.user-block {
	max-width: 140px;
}
.login {
	position: relative;
	display: block;
	padding: 25px 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}
.login:hover {
	background-color: #242424;
}
.login::before {
	content: "";
	position: absolute;
	top: 26px;
	left: 25px;
	width: 18px;
	height: 18px;
	background: url("../img/sprite/spritesheet.png") -10px -208px no-repeat;
	opacity: 0.3;
}
.login:hover::before {
	opacity: 1;
}

/*////////          .main -->      ///////////*/
/*/////////           .logo -->                    ///////////*/
.main-container {
	margin-top: 160px;
}
.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.index-logo img {
	width: 368px;
	height: 204px;
}
/*     /////     .features -->     /////     */
.features {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}
.features-item {
	width: 300px;
	text-align: center;
}
.features-name {
	position: relative;
	display: block;
	padding-bottom: 30px;
	margin-bottom: 35px;
	font-size: 30px;
	line-height: 42px;
}
.features-name::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	transform: rotate(-45deg);
	background-color: #fff;
}
.features-item p {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 24px;
}

/*     /////     .btn     /////     */
.btn {
	display: inline-block;
	padding: 10px;
	width: 140px;
	border: none;
	border-radius: 0;
	text-align: center;
	background-color: #000;
	color: #fff;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	background-color: #663d15;
}

/*     /////      .index-content -->    /////      */
.index-content {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
	padding: 50px 80px;
	color: #000;
	background: url("../img/shadw.png") no-repeat center,
	#f8f5f2 url(../img/bg-phone.jpg);
}
.index-content-left {
	width: 380px;
}
.index-content-right {
	width: 300px;
}
.index-content-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
	}
.index-content p {
	margin: 0;
	margin-bottom: 30px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 24px;
}
.news-previw {
	margin: 0;
	padding: 0;
	list-style: none;
}
.news-previw p {
	margin-bottom: 0;
}
.news-previw time{
	font-size: 14px;
	line-height: 24px;
	text-transform: none;
}
.news-previw li {
	margin-bottom: 30px;
}
.gallery {
	position: relative;
	height: 271px;
	width: inherit;
}
.gallery-content {
	margin: 0;
	width: 286px;
	height: 164px;
}
.gallery-content img {
	border: 7px solid #fff;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
}
.gallery-prew {
	left: 0;
}
.gallery-next {
	right: 0;
}
.wrap-flex-btn .btn {
	margin-right: 20px;
}
.appointment-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.appointment-form input{
	width: 140px;
	height: 43px;
	margin-bottom: 20px;
	padding: 15px;
	border: 2px solid #000;
	background-color: #fff;
	color: #000;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	outline: none;				
}
.appointment-form input:hover {
	border-color: #663d15;
}
.appointment-form .btn {
	width: 100%;
}

/*     /////      .footer -->       //////        */
.main-footer {
	height: 190px;
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	background: #222222 url(../img/footer-bg.png) 0 0 no-repeat;
}
.main-footer-layout {
	display: flex;
}
.footer-contacts {
	width: 320px;
	margin-right: 60px;
}
.footer-contacts p {
	margin: 0;
	font-size: 14px;
	line-height: 24px;
}
.footer-contacts a {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}
.footer-contacts a:hover {
	text-decoration: none;
	color: #6f6d6d;
}

.footer-social {
	width: 260px;
	margin-right: auto;
	text-align: center;
}
.footer-social p {
	margin: 0;
	margin-bottom: 15px;
	font-size: 14px;
	line-height: 24px;
}
.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	font-size: 0;
	vertical-align: top;
	background: #000 url("../img/sprite/spritesheet.png");

	transition: background-position 0.5s,
	background-color 0.5s;
}
.social-btn:hover {
	background-color: #fff;
}
.social-btn-vk{
 	background-position: -2px -231px;
}
.social-btn-vk:hover {
  background-position: -2px -266px;
}
.social-btn-fb {
	background-position: 4px -32px;
}
.social-btn-fb:hover {
	background-position: 4px -74px;
}
.social-btn-inst {
	background-position: 1px -116px;
}
.social-btn-inst:hover {
	background-position: 1px -157px;
}

.footer-copiright {
	max-width: 160px;
	margin-left: auto;
}
.footer-copiright p {
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}
.footer-copiright a:hover {
	background-color: #fff;
	color: #000;
}

/*     /////     PRICE-LIST     /////     */
.main-navigation .logo-img {
	max-height: 70px;
}

.main-price {
	background-color: #f8f5f2;
	color: #000;
	padding-top: 125px;
	padding-bottom: 80px;
	margin-bottom: -70px;
}
.main-price h1 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
	text-transform: uppercase;
}

.main-price-menu {
	display: flex;
	padding: 0;
	margin-bottom: 75px;
	list-style: none; 
}
.main-price-menu li {
	position: relative;
	margin: 0;
}
.main-price-menu a {
	display: block;
	padding: 0 15px;
	font-size: 14px;
	line-height: 24px;
	color: inherit;
	text-decoration: none;
}
.main-menu li:first-child a{
	padding-left: 0;
}
.main-price-menu li:nth-child(n+2) a::before,
.features-price li::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -3px;
	transform:  translateY(-50%) rotate(45deg);
	width: 7px;
	height: 7px;
	background-color: #000;
}
.price-line {
	position: relative;
	margin-bottom: 25px;
	border: 1px solid #000;
}
.main-price-title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	display: inline-block;
	margin: 0 17%;
	padding: 0 25px;
	background: #f8f5f2 url() 0 0 no-repeat;
	text-align: center;
	font-size: 48px;
	line-height: 48px;
}
.section-price-top {
		display: flex;
}
.section-price {
	justify-content: space-between;
	}
.section-price h3 {
	display: flex;
	font-size: 24px;
	line-height: 30px;
	padding-right: 220px;
	margin-top: 60px;
	margin-bottom: 30px;
}
.section-price p {
	display: flex;
	flex-direction: column;
	padding-right: 75px;
	width: 460px;
	font-size: 14px;
	line-height: 24px;
}

.features-price {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 24px;
}
.features-price li{
	position: relative;
	margin-top: 13px;
	padding-left: 15px;
}
.features-price li:first-child {
	margin-top: 0;
}
.price-box {
	display: flex;
	flex-direction: column;
	width: 460px;
}


.price {
	width: 100%;
	border-collapse: collapse;
	font-size: 14px;
	line-height: 24px;
}
.price td {
		padding: 10px;
    border: 1px solid black;
}
.price td:last-child {
	text-align: center;
}

.shop-filter {
	width: 220px;
	padding-right: 30px;
}

/*     /////     Shop     /////     */
/*     /////     .Aside     /////     */
.inner-content {
	display: flex;
}
.shop-filters {
	width: 220px;
	margin-right: 10px;
}
.shop-filters fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.shop-filters fieldset:first-child {
	margin-bottom: 25px;
}

.shop-filters legend {
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 30px;
}
.shop-filters input[type=checkbox],
.shop-filters input[type=radio] {
	display: none;
}
.square-chackbox {
	position: absolute;
	height: 20px;
	width: 20px;
	border: 2px solid #000;
}

input[type=checkbox]:checked+.square-chackbox::before {
	content: "";
	position: absolute;
	left: 7px;
	width: 2px;
	height: 17px;
	background-color: #000;
	transform: rotate(45deg);
}
input[type=checkbox]:checked+.square-chackbox::after {
	content: "";
	position: absolute;
	left: 7px;
	width: 2px;
	height: 17px;
	background-color: #000;
	transform: rotate(-45deg);
}

.shop-filters label {
	position: relative;
	display: block;
	/*width: 167px;*/
	margin-bottom: 20px;
	padding-left: 40px;
	padding-right: 10px;
	font-size: 14px;
	line-height: 18px;
	cursor: pointer;
}

input[type=radio]+label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	padding: 4px;
	border: 2px solid #000;
	border-radius: 50%;
}
input[type=radio]:checked+label::after {
	content: "";
	position: absolute;
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	background-color: #000;
	border-radius: 50%;
}

/*     /////     .Items     /////     */
.shop-items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 700px;
	font-size: 0;
}
.shop-item {
	width: 220px;
	background-color: #fff;
	margin-bottom: 20px;
	box-shadow: 0 0 15px rgba(0,1,1,.2)
}
.shop-item a {
	text-decoration: none;
	color: #000;
}
.shop-item img {
	width: 220px;
	height: 165px;
}
.shop-item h2 {
	margin: 15px;
	font-size: 14px;
	line-height: 18px;
}
.shop-item-worth {
	display: inline-block;
	width: 109px;
	margin-left: 15px;
	margin-bottom: 15px;
	padding: 15px;
	background-color: #e5e5e5;
	font-size: 14px;
	line-height: 18px;
}

.shop-item .btn-buy {
	width: 78px;
	padding: 15px;
	color: #fff;
	line-height: 18px;
}

.shop-pages {
	display: block;
	width: 100%;
}
.shop-pages ul {
	display: flex;
	padding: 0;
	margin: 0;
}
.shop-pages li {
	margin-right: 5px;
}
.shop-pages .btn-page {
	width: 43px;
	height: 43px;
}

